@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ManageLayout</title>
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css/manage")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" />

</head>

<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/manage")
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <header>
        <div class="logo">
            <span class="odd-logo">L</span>
            <span class="even-logo">O</span>
            <span class="odd-logo">G</span>
            <span class="even-logo">O</span>
        </div>
        <div class="toggle-aside">
            <i class="fa fa-bars fa-lg btn"></i>
        </div>
    </header>
    <div class="content">
        <nav class="nav">
            <ul>
                <li class="nav-active">Dashboard</li>
                <li>
                    List 1
                    <ul>
                        <li>Dashboard</li>
                        <li>List 1</li>
                        <li>List 1</li>
                        <li>List 1</li>
                        <li>List 1</li>
                    </ul>
                </li>
                <li>List 1</li>
                <li>
                    List 1
                    <ul>
                        <li>Dashboard</li>
                        <li>List 1</li>
                        <li>List 1</li>
                        <li>List 1</li>
                        <li>List 1</li>
                    </ul>
                </li>
                <li>List 1</li>
            </ul>
        </nav>
        <section>
            @RenderBody()
        </section>
    </div>
</body>
</html>
